<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4 fixed-top">
    <div class="container-fluid" style="margin-left: 70px;">
      <a class="navbar-brand" [routerLink]="['/']">K Music</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link highlight" [routerLink]="['/products']">Sản phẩm</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link highlight" id="categoryDropdownToggle">Danh mục sản phẩm</a>
            <div class="dropdown-content">
              <a class="dropdown-item" [routerLink]="['/products/category', category.id]" *ngFor="let category of categories">{{category.name}}</a>
            </div>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right" style="width: 150px;">
          <i class="fa-solid fa-cart-shopping" [routerLink]="['/cart']"></i>
          <div class="d-inline-block" ngbDropdown *ngIf="isAuthenticated">
            
            <a class="nav-link dropdown-toggle" ngbDropdownToggle style="cursor: pointer;">{{username}}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngIf="role == 'admin'" [routerLink]="['/manage/products']">Quản lí</button>
              <button ngbDropdownItem *ngIf="role == 'member'" [routerLink]="['/profile']">Tài khoản</button>
              <button ngbDropdownItem *ngIf="role == 'member'" [routerLink]="['/my-order']">Đơn mua</button>
              <button ngbDropdownItem (click)="onLogout()">Đăng xuất</button>
            </div>
          </div>
          <div class="d-inline-block" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="/auth" style="cursor: pointer;">Đăng nhập</a>
          </div>
        </div>
        
      </div>
    </div>
  </nav>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="showDropdown">
    <a class="dropdown-item" href="#">Danh mục 1</a>
    <a class="dropdown-item" href="#">Danh mục 2</a>
    <a class="dropdown-item" href="#">Danh mục 3</a>
    <!-- Thêm các danh mục sản phẩm khác tại đây -->
  </div>

  