.price {
    color: red; 
    font-weight: bold; 
}

.detail{
    border-bottom: solid 1px black;
    width: 400px;
    padding: 10px 0px;
}

.box {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.rating-item {
    padding: 6px 24px;
    margin: 10px 0;
}