<div class="side text-white" style="border-right: 2px solid #3C4B64; height: 100vh;">
    <div class="title d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4" style="margin: 10px 50px;">Quản lí</span>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class='nav-item mt-4'>
            <div 
                [class]="path == 'accounts' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/accounts']">Tài khoản
            </div>
            <div 
                [class]="path == 'products' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/products']">Sản phẩm
            </div>
            <div 
                [class]="path == 'categories' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/categories']">Danh mục
            </div>
            <div 
                [class]="path == 'payments' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/payments']">Thanh toán
            </div>
            <div 
                [class]="path == 'suppliers' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/suppliers']">Nhà cung cấp
            </div>
            <div 
                [class]="path == 'orders' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/orders']">Đơn hàng
            </div>
            <div 
                [class]="path == 'import-orders' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/import-orders']">Phiếu nhập
            </div>
            <div 
                [class]="path == 'statistics' ? 'nav-link text-white active' : 'nav-link text-white'"
                [routerLink]="['/manage/statistics']">Thống kê doanh thu
            </div>
        </li>
    </ul>
</div>
