label {
    font-weight: bold;
}

.box {
    //padding: 12px 6px;
    //background: white;
    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}